<!DOCTYPE html>
<html>

<head>
    <title>Add Job</title>
</head>

<body>

<h1>Add New Job</h1>

<form method="POST">

<input name="title" placeholder="Job Title" required><br><br>

<input name="company" placeholder="Company" required><br><br>

<input name="skills" placeholder="Skills" required><br><br>

<input name="pay" placeholder="Pay" required><br><br>

<input name="openings" type="number" placeholder="Openings" required><br><br>

<textarea name="description" placeholder="Description"></textarea><br><br>

<input name="referral_link" placeholder="Referral Link" required><br><br>

<input name="category" placeholder="Category" required><br><br>

<input name="posted_date" type="date" required><br><br>


<button type="submit">
Add Job
</button>

</form>

</body>

</html>